header {
    background-image: url(../assets/Background_Intro.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 750px;
}

#foto {
    position: relative;
    justify-content: end;
    align-items: end;
    padding-bottom: 56px;

    img:nth-child(1) {
        height: 91.27px;
        width: 91.27px;
        border-radius: 50px;
        padding: 4px;
        border: solid 2px var(--red)
    }
    img:nth-child(2) {
        height: 32px;
        width: 32px;
        position: absolute;
    }
}

#info {
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 80px;
}

#icons {
    gap: 16px;
    figure {
        padding: 8px 14px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        gap: 8px;
        background-color: var(--gray-300);
    }

    img {
        height: 24px;
        width: 24px;
    }
}

#arrow {
    justify-content: center;
    img {
        height: 32px;
        width: 32px;
    }
}