.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flow-row {
    flex-direction: row;
}

.gray-300 {
    color: var(--gray-300);
}

.gray-400 {
    color: var(--gray-400);
}

.gray-500 {
    color: var(--gray-500);
}

.gray-600 {
    color: var(--gray-600);
}

.h1 {
    font: var(--h1);
}

.h2 {
    font: var(--h2);
}

.subtitle {
    font: var(--subtitle);
}

.text {
    font: var(--text);
}

.text-sm {
    font: var(--text-sm);
}

.red {
    color: var(--red);
}